* {
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
    line-height: 3.3rem;
    font-weight: 500;
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color:  #eaecee;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

@keyframes Up{
    from{
        top: 0;
    }
    to{
        top: -7px;
    }
}
@keyframes Down{
    from{
        top: -7px;
    }
    to{
        top: 0;
    }
}

@keyframes flow{
    from{
        width: 100%;
    }
    to{
        width: 0%;
    }
}
@keyframes flowskill{
    from{
        width: 0%;
    }
    to{
        width: var(--process);
    }
}
@keyframes changeText{
    from{
        content: attr(text1);
    }
    to{
        content: attr(text2);
    }
}

